#Backend submodules
OSMBicycleInfrastructure
IP-OSeM-Backend

#Deployment configs
kubernetes

node_modules
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.next
.git


.env.local
